@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
html, body {
    background-color: #F4F3F1;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.bvolver {
    cursor: pointer;
    padding-left: 30px;
    padding-top: 30px;
}

.boton {
    cursor: pointer;
    padding: 30px;
}

.column1 {
    float: left;
    width: 30%;
    padding-left: 30px;
    padding-top: 10px;
}

.column2 {
    float: left;
    width: 50%;
    padding-top: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.institucion {
    margin-top: 0px;
    font-size: 39px;
    font-weight: 900;
}

.rectorTitulo {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 28px;
    font-weight: 900;
    color: #994483;
}

.rector {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 16px;
}

.emailTitulo {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 28px;
    font-weight: 900;
    color: #219EA6;
}

.email {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 16px;
}

.listExp {
    overflow-y: auto;
    height: 220px;
}

li {
    margin-left: 50px;
}

.experiencias {
    font-size: 18px;
}

.tituloExp {
    font-size: 28px;
    font-weight: 900;
}

.subtituloExp {
    font-size: 20px;
    margin-bottom: 20px;
}

.numParticipantes {
    font-size: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
    .bvolver {
        height: 40px;
    }

    .boton {
        height: 40px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
    }

    .radar-chart {
        margin-bottom: 30px;
    }

    .column1, .column2{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}