@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
html, body {
    background-color: #F4F3F1;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

.titulo {
    font-size: 46px;
    font-weight: 900;
}

* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */

.column1 {
    float: left;
    width: 10%;
    padding: 10px;
}

.column2 {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.titulo2 {
    font-size: 24px;
    font-weight: 900;
}

.texto {
    font-size: 22px;
}