@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
html, body {
    background-color: #F4F3F1;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

.header {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    text-align: left;
    background: #20A5D6;
    color: white;
    font-size: 30px;
}

.boton {
    cursor: pointer;
}

.titulo {
    font-size: 46px;
    font-weight: 900;
}

* {
    box-sizing: border-box;
}

.column1 {
    float: left;
    width: 12%;
    padding: 10px;
    margin-left: 12%;
}

.column2 {
    float: left;
    width: 40%;
    padding: 10px;
    margin-left: 80px;
    margin-right: 12%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.titulo2 {
    font-size: 19px;
    font-weight: 900;
}

.texto {
    font-size: 16px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: #9f9f93;
    color: white;
    text-align: left;
    border-radius: 6px;
    padding: 15px 15px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 1100px) {
    .bvolver {
        height: 40px;
    }
    .header {
        padding: 20px 20px 20px 30px;
        font-size: 18px;
    }
    .titulo {
        font-size: 30px;
    }
    .subtitulo {
        font-size: 20px;
    }
    .column1 {
        width: 12%;
        padding: 10px;
        margin-left: 5%;
    }
    .column2 {
        width: 60%;
        padding: 10px;
        margin-left: 80px;
        margin-right: 5%;
    }
}

@media screen and (max-width: 460px) {
    .column1 {
        margin-left: 35%;
        margin-left: 35%;
    }
}