@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

html, body {
    background-color: #DFDCD7;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

.titulo {
    font-size: 46px; 
    font-weight: 900;
}

.bnivel {
    margin-bottom: -6px;
    padding: 0;
    cursor: pointer;
}

.bbase {
    margin-bottom: -6px;
    padding: 0;
}
